# Node
TZ=UTC
PORT=5432
HOST=0.0.0.0
NODE_ENV=production

# App
LOG_LEVEL=info
APP_KEY=o3a7ZKVGY4k0O5h1lRFOldh0t61PrB84
APP_URL=https://fakelet-main.onrender.com

# Session
SESSION_DRIVER=cookie

#CORS
CORS_ORIGIN=https://fakeletv1.netlify.app

#SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=tadiwamandava.fr@gmail.com
SMTP_PASSWORD=zuck rnns lzzi ndkc
SMTP_FROM=tadiwamandava.fr@gmail.com

#DATABASE
DB_CONNECTION=pg
DB_HOST=dpg-d8u3qt3tqb8s73aqcg20-a
DB_PORT=5432
DB_USER=fakelet_db_user
DB_PASSWORD=HteAZKVWpORmy5YFf8Cwwo1uXYkZcExx
DB_DATABASE=fakelet_db